<!doctype html>
<html ng-app="todo">
<head>

    <title>Todo</title>

    <meta charset="UTF-8" />

    <link rel="stylesheet" href="./styl/icons.css" />
    <link rel="stylesheet" href="./styles.css" />

    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="../node_modules/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="../node_modules/angular-cookies/angular-cookies.js"></script>

    <script type="text/javascript" src="build.js"></script>

    <script type="text/javascript" src="./static/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="./static/jquery.pixlayout.0.9.7.js"></script>

    <!--
    <script type="text/javascript">
        $(function(){
            $.pixlayout({
                clip : true,
                //src : "./images/pp-bg-1.png",
                // src : "./images/pp-bg2.png",
                src : "./images/pp-side-panel-bg.jpg",
                opacity : 0.5,
                show : false,
                top : 0,
                left : 0,
                fixed : true,
                right : 0,
                pervious : false
            });
        });
    </script>
    -->

</head>
<body ng-controller="TodoCtrl as $todo">



    <div class="toolbar">
        <div class="toolbar__inner">
            <md-button class="md-fab toolbar__search" aria-label="Search todo" ng-click="$todo.searchInputHidden = !$todo.searchInputHidden;$todo.searchText = '';">
                <div class="icons8-search"></div>
            </md-button>
            <md-input-container ng-class="$todo.searchInputHidden ? 'toolbar__search-input_hidden' : ''" class="toolbar__search-input">
                <label></label>
                <input ng-model="$todo.searchText">
            </md-input-container>

            <md-fab-speed-dial md-direction="left" class="md-scale more-actions-speed-dial">

                <md-fab-trigger>
                    <md-button class="md-fab toolbar__more" aria-label="More">
                        <div class="icons8-more"></div>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <div>
                        <md-button ng-click="$todo.openEditProjectForm()"
                                   aria-label="Edit" class="md-fab md-raised md-mini toolbar__more">
                            <div class="icons8-edit"></div>
                        </md-button>
                    </div>
                    <div>
                        <md-button ng-click="$todo.deleteCurrentProject()"
                                   aria-label="Delete" class="md-fab md-raised md-mini toolbar__more">
                            <div class="icons8-delete"></div>
                        </md-button>
                    </div>
                </md-fab-actions>
            </md-fab-speed-dial>

        </div>
    </div>

    <div class="content-box-hat">
        <div class="content-box">
            <div class="workspace"> <!-- workspace_no-todo -->



                <div class="todo-list">
                    <md-list class="todo-list__items">
                        <md-subheader class="md-no-sticky todo-list__subheader">Today</md-subheader>
                        <div class="todo-list__group">
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company Create a company Create a company Create a company Create a company Create a company Create a company Create a company
                                </div>
                            </md-list-item>
                        </div>
                        <md-subheader class="md-no-sticky todo-list__subheader">Stories</md-subheader>
                        <div class="todo-list__group">
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 2
                                </div>
                            </md-list-item>
                        </div>
                        <md-subheader class="md-no-sticky todo-list__subheader">Goodies</md-subheader>
                        <div class="todo-list__group">
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 3
                                </div>
                            </md-list-item>
                            <md-divider class="todo-list__divider"></md-divider>
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 4
                                </div>
                            </md-list-item>
                        </div>
                        <md-subheader class="md-no-sticky todo-list__subheader">Goodies</md-subheader>
                        <div class="todo-list__group">
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 3
                                </div>
                            </md-list-item>
                            <md-divider class="todo-list__divider"></md-divider>
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 4
                                </div>
                            </md-list-item>
                        </div>
                        <md-subheader class="md-no-sticky todo-list__subheader">Goodies</md-subheader>
                        <div class="todo-list__group">
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 3
                                </div>
                            </md-list-item>
                            <md-divider class="todo-list__divider"></md-divider>
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 4
                                </div>
                            </md-list-item>
                        </div>
                        <md-subheader class="md-no-sticky todo-list__subheader">Goodies</md-subheader>
                        <div class="todo-list__group">
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 3
                                </div>
                            </md-list-item>
                            <md-divider class="todo-list__divider"></md-divider>
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 4
                                </div>
                            </md-list-item>
                        </div>
                        <md-subheader class="md-no-sticky todo-list__subheader">Goodies</md-subheader>
                        <div class="todo-list__group">
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 3
                                </div>
                            </md-list-item>
                            <md-divider class="todo-list__divider"></md-divider>
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 4
                                </div>
                            </md-list-item>
                        </div>
                        <md-subheader class="md-no-sticky todo-list__subheader">Goodies</md-subheader>
                        <div class="todo-list__group">
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 3
                                </div>
                            </md-list-item>
                            <md-divider class="todo-list__divider"></md-divider>
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 4
                                </div>
                            </md-list-item>
                        </div>
                        <md-subheader class="md-no-sticky todo-list__subheader">Goodies</md-subheader>
                        <div class="todo-list__group">
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 3
                                </div>
                            </md-list-item>
                            <md-divider class="todo-list__divider"></md-divider>
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 4
                                </div>
                            </md-list-item>
                        </div>
                        <md-subheader class="md-no-sticky todo-list__subheader">Goodies</md-subheader>
                        <div class="todo-list__group">
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 3
                                </div>
                            </md-list-item>
                            <md-divider class="todo-list__divider"></md-divider>
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 4
                                </div>
                            </md-list-item>
                        </div>
                        <md-subheader class="md-no-sticky todo-list__subheader">Goodies</md-subheader>
                        <div class="todo-list__group">
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 3
                                </div>
                            </md-list-item>
                            <md-divider class="todo-list__divider"></md-divider>
                            <md-list-item class="md-1-line todo-list__item">
                                <div class="todo-list__complete">
                                    <div class="todo-list__complete-circle" ng-click="null"></div>
                                </div>
                                <div class="todo-list__item-caption">
                                    Create a company 4
                                </div>
                            </md-list-item>
                        </div>
                    </md-list>
                </div>

                <div class="no-todo" layout="column" layout-align="center center">
                    <div class="icons8-todo-list no-todo__caption-icon"></div>
                    <div class="no-todo__caption">
                        Have a good day
                    </div>
                </div>
                <md-button ng-click="$todo.openCreateTaskForm()"
                           class="md-fab bottom-right-button add-todo-button"
                           aria-label="Add todo">
                    <div class="icons8-plus"></div>
                </md-button>

            </div>

            <div class="right-col">
                <div class="right-col-inner">
                    <profile-info></profile-info>
                    <div class="projects-list">
                        <div class="projects-list__header">
                            <div class="projects-list__caption">
                                Projects
                            </div>
                            <md-button class="md-fab projects-list__add-button"
                                       aria-label="Add project"
                                       ng-click="$todo.openCreateProjectForm()">
                                <div class="icons8-plus"></div>
                            </md-button>
                        </div>
                        <div class="projects-list__items-box" layout="column" layout-align="center center">
                            <md-list class="projects-list__items" flex="85">
                                <md-list-item ng-repeat="$project in $todo.projects"
                                              ng-class="$index === $todo.selectedProjectIndex ? 'projects-list__item_selected' : ''"
                                              class="md-1-line projects-list__item"
                                              ng-click="$todo.selectProject($index)">
                                    <span data-id="{{$project.Project.id}}">{{$project.Project.title}}</span>
                                    <span class="projects-list__item-task-count">{{$project.Project.task_count}}</span>
                                </md-list-item>
                            </md-list>
                            <div class="right-col-footer" flex>
                                <div class="right-col-footer-inner">
                                    Log out
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <md-sidenav
                    ng-class="{
                        createProject : 'create-project-form-shown',
                        editProject   : 'edit-project-form-shown',
                        createTask    : 'create-task-form-shown'
                    }[$todo.formName]"
                    class="md-sidenav-right side-panel"
                    md-component-id="side-panel">

                <div class="create-project-form">
                    <md-toolbar class="side-panel__toolbar">
                        <div class="side-panel__close-box">
                            <md-button ng-click="$todo.toggleSidePanel()" class="md-fab side-panel__close" aria-label="Close side panel">
                                <div class="side-panel__close-icon icons8-delete-2"></div>
                                <div>Esc</div>
                            </md-button>
                        </div>
                        <h1 class="md-toolbar-tools side-panel__header">
                            Create new project
                        </h1>
                    </md-toolbar>
                    <md-content class="side-panel__content">
                        <div class="side-panel__content-inner">
                            <md-input-container class="side-panel__input">
                                <label>Project name</label>
                                <input ng-model="$todo.newProjectName">
                            </md-input-container>
                        </div>
                    </md-content>
                    <md-button ng-click="$todo.createNewProject()"
                               class="md-fab bottom-right-button side-panel__confirm"
                               aria-label="Confirm edit">
                        <div class="icons8-checkmark"></div>
                    </md-button>
                </div>

                <div class="edit-project-form">
                    <md-toolbar class="side-panel__toolbar">
                        <div class="side-panel__close-box">
                            <md-button ng-click="$todo.toggleSidePanel()" class="md-fab side-panel__close" aria-label="Close side panel">
                                <div class="side-panel__close-icon icons8-delete-2"></div>
                                <div>Esc</div>
                            </md-button>
                        </div>
                        <h1 class="md-toolbar-tools side-panel__header">
                            Edit task
                        </h1>
                    </md-toolbar>
                    <md-content class="side-panel__content">
                        <div class="side-panel__content-inner">
                            <md-input-container class="side-panel__input">
                                <label>Task name</label>
                                <input ng-model="$todo.editingProjectName">
                            </md-input-container>
                        </div>
                    </md-content>
                    <md-button ng-click="$todo.editProject()"
                               class="md-fab bottom-right-button side-panel__confirm"
                               aria-label="Confirm edit">
                        <div class="icons8-checkmark"></div>
                    </md-button>
                </div>

                <div class="create-task-form">
                    <md-toolbar class="side-panel__toolbar">
                        <div class="side-panel__close-box">
                            <md-button ng-click="$todo.toggleSidePanel()" class="md-fab side-panel__close" aria-label="Close side panel">
                                <div class="side-panel__close-icon icons8-delete-2"></div>
                                <div>Esc</div>
                            </md-button>
                        </div>
                        <h1 class="md-toolbar-tools side-panel__header">
                            Create new task
                        </h1>
                    </md-toolbar>
                    <md-content class="side-panel__content">
                        <div class="side-panel__content-inner">
                            <md-input-container class="side-panel__input">
                                <label>Task name</label>
                                <input ng-model="$todo.createTaskName" >
                            </md-input-container>
                            <md-input-container class="side-panel__input">
                                <label>Description</label>
                                <input ng-model="$todo.createTaskDescription" >
                            </md-input-container>
                        </div>
                    </md-content>
                    <md-button ng-click="$todo.createNewTask()"
                               class="md-fab bottom-right-button side-panel__confirm"
                               aria-label="Confirm edit">
                        <div class="icons8-checkmark"></div>
                    </md-button>
                </div>

            </md-sidenav>


        </div>
    </div>





    <div ng-class="$todo.loaderModificator" class="page-cover_showed page-cover" layout="row" layout-align="center center">
        <md-progress-circular
                md-diameter="60"
                layout-align="center"
                md-mode="indeterminate">
        </md-progress-circular>
    </div>

</body>
</html>
